<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beautyparlour-Admin</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <div class="style">
            <label>Haircoloring:</label>
        </div>
        <div class="Hair-type">
            <input type="text" name="haircoloring" value="{{data.haircoloring}}">
        </div>
        <div>
            <input type="submit" name="submit" value="Save">
            <input type="button" name="cancel" value="Cancel">
        </div>
    </form>
    <table>
        <tr>
            <th>#</th>
            <th>Haircoloring</th>
            <th>Action</th>
        </tr>
        {% for i in haircoloring %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.haircoloring}}</td>
            <td><a href="{% url 'adminboutique:deletecoloring' i.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>