<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beautyparlour-Admin</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div>
            <label>Haircoloring</label>
        </div>
        <div>
            <select name="haircoloring">
                <option value="">...Select...</option>
                {% for i in haircoloring %}
                <option value="{{i.id}}">{{i.haircoloring}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label>Types of Haircoloring</label>
        </div>
        <div>
            <input type="text" name="typesofcoloring">
        </div>
        <div>
            <input type="submit" name="submit" value="Save">
            <input type="cancel" name="cancel" value="Cancel">
        </div>
    </form>
    <table>
        <tr>
            <th>#</th>
            <th>Haircoloring</th>
            <th>Types of Haircoloring</th>
            <th>Action1</th>
        </tr>
        {% for l in typesofcoloring %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{l.haircoloring.haircoloring}}</td>
            <td>{{l.typesofhair}}</td>
            <td><a href="{%url 'adminboutique:deletetypesofcoloring' l.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>